<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <!--<add name="SQLEXPRESS"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CardsDB;Integrated Security=True;" />-->
    
    <add name="SQLEXPRESS"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(localdb)\CardsDB;Initial Catalog=CardsDB;Integrated Security=True;" />

  </connectionStrings>
</configuration>